In [2]:
import pandas as pd
import pyreadstat as st
path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 2T\[MT08-MT13] Microeconometr√≠a II\Clases\Stata\jobtraining.dta"

df, meta = st.read_dta(path)
df.head(1)

   train  age  educ  black  hisp  married  earn96  unem96    earn98  unem98
0      0   37    11      1     0        1     0.0       1  1.617924       0