In [ ]:
import pandas as pd
import pyreadstat as st
path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 2T\[MT08-MT13] Microeconometr√≠a II\Clases\Stata\jobtraining.dta"

df, meta = st.read_dta(path)
df.head(1)

   train  age  educ  black  hisp  married  earn96  unem96    earn98  unem98
0      0   37    11      1     0        1     0.0       1  1.617924       0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130 entries, 0 to 1129
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   train    1130 non-null   int64
 1   age      1130 non-null   int64
 2   educ     1130 non-null   int64
 3   black    1130 non-null   int64
 4   hisp     1130 non-null   int64
 5   married  1130 non-null   int64
 6   earn96   1130 non-null   float64
 7   unem96   1130 non-null   int64
 8   earn98   1130 non-null   float64
 9   unem98   1130 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 88.4 KB

In [ ]:
df['train'].value_counts(normalize=True)